<%= form.error_messages %>

<p>
  <%= form.label :username %>
  <%= form.text_field :username %>
</p>

<p>
  <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
  <%= form.password_field :password %>
</p>

<p>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
</p>

<p>
  <%= form.label :bloog_title %>
  <%= form.text_field :bloog_title %>
</p>