<div class="top-right-links"><%= link_to "Atom Feed", atom_bloog_url(@bloog) %></div>

<h2><%= @bloog.bloog_title %></h2>

<% if @bloog.posts.blank? %>
  <p>There are no bloog posts yet.</p>
<% else %>
  <% @bloog.posts.each do |post| %>
    <div class="bloog-post">
      <h3><%= post.title %></h3>

      <div class="created-at">Created: <%= post.created_at.strftime("%c") %></div>

      <%= format_body(post.body) %>
    </div>
  <% end %>
<% end %>