<div id="top-right-links">
  <% if current_user %>
    Welcome, <%= current_user.username %><br/>
    <%= link_to "Account", current_user %> |
    <%= link_to "Edit Posts", admin_user_posts_path(current_user) %> |
    <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
  <% else %>
    <%= link_to "Register", new_user_path %> |
    <%= link_to "Log In", new_user_session_path %>
  <% end %>
</div>

<div>
  <h1 class="title"><%= link_to "Blooger", root_url %></h1>

  <div class="byline">You think it's a blog about boogers, but it's snot.</div>
</div>

<% if flash[:notice] %>
  <p id="flash">
    <%= flash[:notice] %>
  </p>
<% end %>

<hr />