<h2>Login</h2>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>