<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Blooger</title>
  <%= stylesheet_link_tag 'application', :cache => true %>
  <% if @bloog %>
    <link rel="alternate" type="application/atom+xml" title="<%= @bloog.bloog_title %>" href="<%= atom_bloog_url(@bloog) %>" />
  <% end %>
</head>
<body>
  <%= render(:partial => "shared/header") %>
  <%= yield %>
  <br clear="all" />
  <%= render(:partial => "shared/footer") %>
</body>
</html>